<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4">Dashboard</h1>
    <div class="list-group">
        <a href="/registrarCita" class="list-group-item list-group-item-action">Registrar Cita</a>
        <a href="/registrarPaciente" class="list-group-item list-group-item-action">Registrar Paciente</a>
        <a href="/listarPacientes" class="list-group-item list-group-item-action">Listar Pacientes</a>
        <a href="/listarCitas" class="list-group-item list-group-item-action">Listar Citas</a>
        <a href="/historial" class="list-group-item list-group-item-action">Historial Del Paciente</a>

    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
