<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cita Médica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-4 mb-4">Registrar Cita Médica</h2>
    <form th:action="@{/registrarCita}" th:object="${citaMedica}" method="post">
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" th:field="*{fecha}" required>
        </div>
        <div class="form-group">
            <label for="paciente">Paciente</label>
            <select class="form-control" id="paciente" th:field="*{paciente.id}" required>
                <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.dni +' ' + paciente.apellido}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="especialidad">Especialidad</label>
            <input type="text" class="form-control" id="especialidad" th:field="*{especialidad}" required>
        </div>
        <div class="form-group">
            <label for="motivo">Motivo Tratamiento</label>
            <input type="text" class="form-control" id="motivo" th:field="*{motivo}" required>
        </div>
        <div class="form-group">
            <label for="motivo">Descripcion Del Motivo</label>
            <input type="text" class="form-control" id="motivo" th:field="*{descripcion}" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    <br>
    <a href="/" class="btn btn-secondary">Volver al Inicio</a>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
